.row
    .col-lg-12
        .div(ng-controller="ProfileCtrl")
            h1 {{username}}
            button(ng-if="(showFollowButton)", ng-click="followUnfollow()") {{followButton}}
            span(ng-if="(emailVerificationRequired)") {{emailMsg}}
            row(ng-if="(infoCats.length > 0) ? true : false")
                div(class="well col-lg-{{12/infoCats.length}}", ng-repeat="infoCat in infoCats")
                    h2 {{infoCat[0]}}
                    ul(ng-repeat="info in infoCat[1]")
                        li
                            span {{info.field + ' : '}}
                            span(editable-text="info.value", buttons="no", blur="submit", onbeforesave="updateUserInfo($data)", e-required, e-placeholder="Enter {{info.field}}") {{info.value || '*Required: Please Enter ' + info.field}}
                            div(ng-if="isOwnUser")
                                span(editable-checkbox="info.public", buttons="no", blur="submit", onbeforesave="updateUserAcl($data)", e-title="Make Public?") {{ info.public && "Public" || "Private" }}
            row
                .well
                    h2 {{following}}
                    ul
                        li(ng-repeat="user in followingUsers")
                            a(href="/profile/{{user.username}}") {{user.username}}
                    div(ng-bind-html="searchUsers")
                .well
                    h2 {{followed}}
                    ul
                        li(ng-repeat="user in followedUsers")
                            a(href="/profile/{{user.username}}") {{user.username}}